:root {
}

* {
    font-family: Impact, sans-serif;
    color: #871;
}

body {
    background-image: url("./images/background.png");
    background-color: #5099d2;
}

#header {
}

#card {
}

.card {
    text-decoration: none;
}

.card div {
}

.card img {
}

.card p {
}

footer {
}
