:root {
}

* {
    font-family: Impact, sans-serif;
    color: #000;

}

body {
    background-color: #5099d2;
    margin: 0;
}

header {
    margin: 0;
}

#header {
    text-align: center;
    border-bottom: black solid 3px;
    background-color: slategray;
    margin: 0;
    padding: 10px;
}

#header h1 {
    margin: 0;
}

#container {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;


}

.card-container{
    margin: auto;

}

a {
    width: 200px;
    height: 200px;
}

.card {
    text-decoration: none;
    background-color: #ca8525;
    border: black solid 2px;
    width: 200px;
    height: 220px;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.card:hover {
    box-shadow: 0 0 0 2px white;
}

.card img {
    width: 100%;
    height: 80%;
}

.card p {
    text-align: center;
}

footer {
}

@media screen and (max-width: 680px){
    #container{
        grid-template-columns: auto;
    }
}
