* {
    font-family: Impact, sans-serif;
    color: #000;

}

body {
    background-color: #5099d2;
    margin: 1em;
}

header {
    margin: 0;
}

#main {
    margin: 1em;
    text-decoration: none;
    background-color: #ca8525;
    border: black solid 2px;
    padding: 5px;
    border-radius: 10px;
}

#description {

}

#image-container {
    width: 250px;
    float: right;
    text-align: center;
    background: cadetblue;
    border: black solid 2px;
    border-radius: 10px;
}

#description::after {
    content: "";
    clear: both;
    display: table;
}

#sonic1{
    width: 200px;
}

